.navbar{
    height: 65px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-right: 100px;
}
.box{
    width: 150px;
    height: 30px;
    background-color:red; 

}