.container{
    background-image:linear-gradient(#050a23bf, #050a23bf),url('https://freerangestock.com/sample/151283/young-man-studying-with-laptop-computer-on-white-desk..jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height:80vh;
    }
.navbar{
    height: 70px;
    width: 720px;
    position: relative;
    display: flex;
    margin-left: 250px;
    top: 30px;
    color: white;
    background-color:lightseagreen;
    align-items: center;
   }
.site{
  font-size: 20px;
    color: rgb(148, 90, 31);
    margin-left: 10px;

}
.list{
    margin-left: 150px;
    width: 430px;
    display: flex;
    justify-content: space-between;
   
}
.mae{
    font-size: 27px;
    color: pink;
    align-items: center;
     margin-left: 250px;
     margin-top: 150px;
   
}
.ali{
    font-size: 43px;
    color:yellowgreen;
    align-items: center;
    margin-left: 240px;
  margin-top: -20px;
    
}
.button{
    border-radius: 4px;
    background-color:lightseagreen;
    color: white;
    height: 45px;
    width: 120px;
    margin-left: 240px;
}
.div{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.div1{
    height: 160px;
    width: 300px;
   background-color: lightgray;
   color: yellowgreen;
}
.div2{
    height: 160px;
    width: 300px;
    background-color:  lightgray;
    color: yellowgreen;
}
.div3{
    height: 160px;
    width: 300px;
    background-color: lightgray;
    color: yellowgreen;
}



